<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 text-center columns">
                <b>{{publication.name}}</b>
            </div>
            <div class="small-12 text-center columns">
                {{#if publication.description}}
                    <b>{{{publication.description}}}</b>
                {{else}}
                    <b>No description was provided by Professor</b>
                {{/if}}
            </div>
        </div>
        <br><br>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="hidden" name="pubId" value="{{publication._id}}">
            <div class="panel">
            {{#each publication.sections}}
                <div class="row">
                    <div class="small-4 text-right columns">
                        Section:
                    </div>
                    <div class="small-8 columns">
                        <b>{{title}}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="small-4 text-right columns">
                        Description:
                    </div>
                    <div class="small-8 columns">
                        {{#if description}}
                            <b>{{{description}}}</b>
                        {{else}}
                            <b>No description was provided by Professor</b>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="small-4 text-right columns">
                        File for upload:
                    </div>
                    <div class="small-8 columns">
                        <input type="file" name="f{{@index}}">
                    </div>
                </div>
                <br><br>
            {{/each}}
                </div>
        <div class="row">
            <div class="small-12 columns text-center">
                <input type="submit" class="tiny button" value="submit">
            </div>
        </div>
        </form>

        {{#if upload}}
            <div class="row">
                <div class="small-12 columns">
                    {{#each upload.files}}
                        <iframe style="margin: 0 auto; width: 1000px; height: 600px;" src="http://docs.google.com/gview?url=https://www.dropbox.com/s/zwh17qw2zgv5i3s/f430c16e101473a4c646fa4fd1913b6f.doc?raw=1&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
                    {{/each}}
                </div>
            </div>
        {{/if}}

        {{#if comments}}
            {{#each comments}}
                <div class="panel">
                    {{text}}
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>