<!--<style>-->
    <!--a.current-page {-->
        <!--color: green;-->
    <!--}-->
<!--</style>-->
<!--{{#if shouldDisplay}}-->
    <!--<a href="{{ link }}/{{ min }}"{{#equal min current}} class="current-page"{{/equal}}>[{{ min }}]</a>-->
    <!--{{#if margins.left}} ... {{/if}}-->
    <!--{{#each pages }}-->
        <!--<a href="{{ ../link }}/{{ this }}"{{#equal this ../current}} class="current-page"{{/equal}}>[{{ this }}]</a>-->
    <!--{{/each}}-->
    <!--{{#if margins.right}} ... {{/if}}-->
    <!--<a href="{{ link }}/{{ max }}"{{#equal max current}} class="current-page"{{/equal}}>[{{ max }}]</a>-->
<!--{{/if}}-->